* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  background-color: aqua transparent;

}

.navContainer .logo {
  font-size: 2rem;
  color: rgb(255, 187, 0);
}

.navContainer nav {
  display: flex;
  gap: 1rem;
}

.navContainer nav a {
  text-decoration: none;
  font-weight: bold;
} 

.navContainer #orderBtn {
  background-color: orange;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  border: none;
  border-radius: 0.7rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 2rem;
}

.navContainer #orderBtn #orderArrow{
  height: 1rem;
  width: 1rem;

  padding: 2px;
}

.navContainer #orderBtn #top-img{
  height: 1.4rem;
  width: 1.4rem;
    background-color: rgb(231, 106, 3);
  padding: 0.2rem;
  border:none;
  border-radius: 0.5rem;
}
@keyframes dot {
  from{
    height: 2vh;
  }
  to{
    height: 20vh;
  }
  
}
.box{
 
  width: 2vw;
  border-radius: 5rem;
  position: relative;
  left: 60vw;
  background-color: rgb(192, 102, 1);
  animation: dot 0.3s ease-in forwards ;
}

.box2{  
 
  width: 2vw;
  border-radius: 5rem;
  position: relative;
  left: 63vw;
  bottom: 10vh;
  background-color: rgb(192, 102, 1);
  animation: dot 0.5s ease-in forwards ;
}